# Configuración de Credenciales para IBKR & Sistema DARQ Trading
TWS_USER=tu_usuario_ibkr
TWS_PASSWORD=tu_password_ibkr
TRADING_MODE=paper  # 'paper' o 'live'
PORT=10000
IBKR_HOST=ib-gateway
IBKR_PORT=4002
